* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: url('http://drive.google.com/uc?export=view&id=1oP-Vnm6CbUyFX_Mc0JJ7kmPZ5nWmcR-7') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
}

a:hover {
    color: orange;
}

.header {
    position: relative;
    padding: 0 1rem;
}

.navbar {
    background-color: rgba(29, 28, 28, 0.8);
    width: 100%;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(58, 243, 181);
    text-shadow: 1px 1px 0 #000000;
}

.navbar .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home {
    padding: 0 2rem;
    width: 100%;
    text-align: center;
}

.home.active {
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.home-social {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.home-content {
    padding: 15px;
    text-align: center;
}

.home-content h1 {
    font-size: 1.5rem;
    color: #8efff6;
}

.home-content h3 {
    font-size: 1.2rem;
    color: #ffffff;
}

.home-content p {
    color: #ffffff;
}

.home:hover {
    transform: scale(1.1);
}

.home-social a {
    width: 30px;
    height: 30px;
    border: 2px solid #4ffde6;
    font-size: 16px;
}

.contact {
    padding: 0 2rem;
    width: 100%;
}

.contact-content {
    max-width: 100%;
    background-color: rgba(43, 40, 40, 0.8);
    padding: 15px;
}

.contact-content p {
    color: #ffffff;
}

.contact-content p b {
    font-size: 0.9rem;
    color: #4397be;
}

.education {
    padding: 0 2rem;
    width: 100%;
}

.education-content {
    padding-top: 20px;
    text-align: center;
}

.education-item {
    background-color: rgba(43, 40, 40, 0.8);
    margin-bottom: 20px;
    padding: 15px;
}

.education-content h1 {
    font-size: 1.5rem;
    color: #8efff6;
}

.education-content h2 {
    font-size: 1.2rem;
    color: #eeea1e;
}

.education-content h3 {
    font-size: 1.1rem;
    color: #ffffff;
}

.education-content p {
    font-size: 0.9rem;
    color: #ffffff;
}

.education-content ul li,
.education-content ul ul li {
    font-size: 0.9rem;
    color: #ffffff;
}

.project {
    margin-top: 50px;
    padding: 0 2rem;
    width: 100%;
}

.project h1 {
    font-size: 1.5rem;
    color: #8efff6;
}

.project-layout {
    display: block;
}

.project-topic,
.project-content {
    background-color: rgba(43, 40, 40, 0.8);
    margin-bottom: 20px;
    padding: 15px;
}

.project-content h2 {
    font-size: 1.2rem;
    color: #fff565;
}

.project-content p {
    font-size: 0.9rem;
    color: #ffffff;
}

.project-content ul li {
    font-size: 0.9rem;
    color: #ffffff;
}

button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #ff6f3c;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #f96d45;
}
